.send-message { 
	--column-count: 2; 
	--column-gutter-x: 0.4rem; 
	--column-gutter-y: 0.4rem; 
	--field-width: calc( ( 100% - ( var( --column-count ) - 1 ) * var( --column-gutter-x ) ) / var( --column-count ) ); 

}

.send-message { 
	box-sizing: border-box; 
	display: flex; flex-direction: row; flex-wrap: wrap; 
	padding: 1.25rem; 
	position: relative; 
	background-color: #DDD;  

} 

.send-message .field, .send-message .button { 
	color: #DDD; 

}

.send-message .label { 
	display: none; 
} 

.send-message > * { 
	margin-right: var( --column-gutter-x ); 
	margin-top: var( --column-gutter-y );
}

.send-message .field-holder.name-holder, 
.send-message .email-holder { 
	width: var( --field-width ); 
} 

.send-message .message-holder { 
	width: 100%; 
} 

.send-message .field-holder:nth-child( n + 2 ) { 
	margin-right: 0; 
} 

.send-message .field { 
	box-sizing: border-box; 
	display: block; 
	width: 100%;  
	padding: 0.8rem; 
	border: none; outline: none; 
	font-family: Arial; font-size: 1rem; 
} 

.send-message :nth-child( -n + 2 ) { 
	margin-top: 0; 
}

.send-message .field.name, 
.send-message .field.email { 
	height: 2.5rem; line-height: 2.5rem; 

} 

.send-message .field.message { 
	height: 10rem; 
//	padding-bottom: 4rem; 

}

.send-message .submit-button { 
	display: block; 
	/* height: 4rem; line-height: 4rem;  */ 
	margin-left: auto; margin-right: auto; 
	margin-top: calc( -2.75rem / 2 ); 
	/* position: absolute;  */
	/* left: 50%; transform: translateX( -50% );   */
	/* right: 0; margin-right: 0.75rem;  */
	/* bottom: calc( -4rem / 2 ); // margin-bottom: 0.75rem;  */
	border: 1px solid #DDD; 
	background-color: #FFF; 

}