---
title: Начало 
id: front_page 
layout: page 
lang: bg 
--- 

{% assign dataSource = site.data[ page.lang ] %} 


{% include section.html data = dataSource.sellPoints %} 

{% include section.html data = dataSource.mainFeatures %} 

{% include section.html data = dataSource.therapyDetails.pointer %} 

{% include section.html data = dataSource.aboutUs.pointer %} 

<script>
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", user => {
		if (!user) {
		  window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		  });
		}
	  });
	}
</script> 