{% assign data = include.data %}

{% assign heading = data.heading %}
{% assign textEntries = data.textEntries %} 
{% assign image = data.image %} 


{% if heading %}
	<h{{ heading.level }} class= "heading">{{ heading.text }}</h{{ heading.level }}> 
{% endif %}

{% for entry in textEntries %}
	<p class= "text-entry">{{ entry.text }}</p> 
	{% if entry.images %}
		{% assign images = entry.images %}
		<figure class= "text-entry-images"> 
			{% if images.entries.size > 1 %} 
				{% assign imagesClassName = " multiple-images" %} 
			{% else %} 
				{% assign imagesClassName = " single-image" %}
			{% endif %}
			<ul class= "{{ 'image-entry-list' | append: imagesClassName }}"> 
			{% for entryImage in images.entries %}
				<li class= "image-entry"><img src= {{ entryImage.src }} alt= {{ entryImage.alt }} /></li> 
			{% endfor %} 
			</ul>
			{% if images.caption %}
				<figcaption class= "image-list-caption">{{ images.caption }}</figcaption> 
			{% endif %}
		</figure>
	{% endif %} 
{% endfor %}

{% if image %}
	<figure class= "image" style= "background-image: url( '{{ image.src }}' )"> 
		<img src= {{ image.src }} alt= {{ image.alt }} /> 
	</figure>
{% endif %}