{% assign data = include.data %}

{% assign heading = data.heading %}
{% assign textEntries = data.textEntries %} 
{% assign image = data.image %} 


{% if heading %}
	<h{{ heading.level }} class= "heading">{{ heading.text }}</h{{ heading.level }}> 
{% endif %}

{% for entry in textEntries %}
	<p class= "text-entry">{{ entry.text }}</p> 
	{% if entry.images %}
		<figure>
			{% for entryImage in entry.images %}
				<img src= {{ entryImage.src }} alt= {{ entryImage.alt }} /> 
			{% endfor %}
		</figure>
	{% endif %} 
{% endfor %}

{% if image %}
	<figure class= "image" style= "background-image: url( '{{ image.src }}' )"> 
		<img src= {{ image.src }} alt= {{ image.alt }} /> 
	</figure>
{% endif %}