{% assign data = include.data %}

{% assign heading = data.heading %}
{% assign textEntries = data.textEntries %} 
{% assign image = data.image %} 
{% assign button = data.button %} 


{% if heading %}
	<h{{ heading.level }} class= "heading">{{ heading.text }}</h{{ heading.level }}> 
{% endif %}

{% for entry in textEntries %}
	<p class= "text-entry">{{ entry }}</p>
{% endfor %}

{% if image %}
	<figure class= "image-holder">
		<img class= "image" src= {{ image.src }} alt= {{ image.alt }} /> 
	</figure>
{% endif %}

{% if button %}
	<button class= "button">{{ button.text }}</button>
{% endif %}