{% assign data = include.data %}

{% assign heading = data.heading %}
{% assign textEntries = data.textEntries %} 
{% assign image = data.image %} 
{% assign link = data.link %} 

<section class= "text-content"> 

{% if heading %}
	<h{{ heading.level }} class= "heading">{{ heading.text }}</h{{ heading.level }}> 
{% endif %}

{% for entry in textEntries %}
	<p class= "text-entry">
		{{ entry }}
		{% if entry.image %}
			<img src= {{ entry.image.src }} alt= {{ entry.image.alt }} /> 
		{% endif %} 
	</p>
{% endfor %}

{% if link %}
	<a class= "button details-link" href= {{ "/" | append: site.data.settings.locale | append: link.target }}>{{ link.text }}</a> 
{% endif %} 

</section>

{% if image.src %}
	<figure class= "image" style= "background-image: url( '{{ /assets/images/ | append: image.src }}' )">
		<img src= {{ image.src }} alt= {{ image.alt }} /> 
	</figure>
{% endif %}
