{% assign data = include.data %}

{% assign heading = data.heading %}
{% assign textEntries = data.textEntries %} 
{% assign image = data.image %} 
{% assign link = data.link %} 

<section class= "text-content"> 

{% if heading %}
	<h{{ heading.level }} class= "heading">{{ heading.text }}</h{{ heading.level }}> 
{% endif %}

{% for entry in textEntries %}
	<p class= "text-entry">{{ entry }}</p>
{% endfor %}

{% if link %}
	<a class= "button" href= {{ link.target }}>{{ link.text }}</a>
{% endif %}

</section>

{% if image %}
	<figure class= "image">
		<img src= {{ image.src }} alt= {{ image.alt }} /> 
	</figure>
{% endif %}
