{% assign contacts = include.data %} 

<section class= "section contacts"> 
{% for contact in contacts %}
    {% assign key = contact[ 0 ] %} 
    {% assign value = contact[ 1 ] %}
    <article class= "entry contact-entry {{ key }}">
        <h{{ value.heading.level }} class= "heading">{{ value.heading.text }}</h{{ value.heading.level }}> 
        {% for textEntry in value.text %}
            <p class= "text-entry">{{ textEntry }}</p> 
        {% endfor %}
        
        <article>
        {% for entry in value.entries %}
            <dl class= "{{ entry.text | downcase }} key-value-pair">
                <dt class= "key">{{ entry.text }}</dt>
                <dd class= "value">{{ entry.value }}</dd>
            </dl>
        {% endfor %}
        </article> 

        <figure class= "image" style= "background-image: url( '{{ value.image.src }}' )">
            <img src= "{{ value.image.src }}" alt="" />
        </figure>
    </article>
{% endfor %}
</section>