{% assign entries = site.data[ page.lang ].mainNavigation %} 

<nav class= "main-nav">
	<h6 class= "usability-heading">Site navigation</h6> 
	
	<ul class= "entry-list nav-entry-list"> 
	{% for entry in entries %} 
		{% assign url = entry.target %} 
		{% if page.lang != "bg" %}
			{% assign url = "/" | append: page.lang | append: url %} 
		{% endif %} 
		
		{% assign currentClassName = "" %}
		{% if url == page.url %} 
			{% assign currentClassName = " current" %} 
		{% endif %}

		<li class= "entry nav-entry{{ currentClassName }}">
			<a class= "nav-link" href= "{{ url }}">{{ entry.text }}</a> 
		</li> 
	{% endfor %} 
	</ul>

	<section class="nav-control-buttons">
		<button class="open-nav-button">Open Navigation</button>
		<button class="close-nav-button">Close Navigation</button>
	</section> 
</nav>