{% assign data = include.data %} 
{% assign head = data.head %} 
{% assign body = data.body %}

<section class= "write-us"> 
	{% include block.html data = head %} 

	<form class= "gform send-message" action= "https://script.google.com/macros/s/AKfycbzt9eNw-D0Ki7CByVWbnQLzgYqJt1v7KnMDgLIG6Q/exec"> 
		{% for field in body.fields %} 
			{% if field.type == "textarea" %} 
				<label class= "label {{ field.name }}" for= "{{ field.name }}"> 
					<textarea class= "field {{ field.name }}" name= "{{ field.name }}" placeholder= "{{ field.value }}"></textarea>
				</label> 
			{% else %}
				<label class= "label {{ field.name }}" for= "name">
					<input class= "field {{ field.name }}" name= "{{ field.name }}" type="{{ field.type }}" placeholder= "{{ field.value }}" />
				</label> 
			{% endif %}
		{% endfor %}

		<button class= "button submit-button" type= "submit">{{ body.submit.text }}</button> 
		
		<div class="thankyou_message"> 
			<p>{{ body.submitMessage }}</p> 
		</div> 
	</form> 
</section>