.article > * { 
	max-width: var( --text-content-width ); 
	margin-left: auto; margin-right: auto; 

}

.article { 
	max-width: auto; 
	position: relative; 

} 

.article-section { 
	/* max-width: var( --text-content-width );  */ 
	margin-top: 2rem; 

} 

.article-section:target { 
	padding: 2.5rem; 
	border: 1px solid; 

} 

figure.image { 
	background-size: cover; background-position: center center; background-repeat: no-repeat; 
} 

.article.therapy-details { 
	--image-count: 2; 
	--image-gutter: 1rem; 
}

.article.about-us { 
	--image-count: 1; 
	--image-gutter: 1rem; 
}

.text-entry-images { 
	box-sizing: border-box; 
	/* display: flex; flex-direction: row; align-items: center;  */ 
	margin-bottom: 1.75rem; margin-top: 1.2rem; 
	padding: 1.2rem;  
	position: relative; 
	background-color: rgba( 255, 255, 255, 0.4 ); 
} 

/* .image-entry { 
	width: 100%; 
} */

.image-entry img { 
	/* height: 450px;  */ 
	width: 100%; 
}

/* .article.therapy-details figure img, 
.article.about-us figure img { 
	max-width: calc( ( 100% - calc( var( --image-count ) - 1 ) * var( --image-gutter ) ) / var( --image-count ) ); 
	height: auto; 
	margin-right: var( --image-gutter ); 
	opacity: 0.8; 
}  */

.article figure img:last-child { 
	margin-right: 0; 

}

.image img {
	display: none !important; 
} 

.image-list-caption { 
	max-width: 14rem; 
	padding-left: 0.85rem; padding-right: 0.85em; padding-top: 1rem; padding-bottom: 1rem; 
	position: absolute; left: 50%; top: 50%; transform: translate( -50%, -50% ); 
	border-width: 0.5rem; border-style: solid; border-color: rgba( 0, 0, 0, 0.2 );   
	border-radius: 0.8rem; 
	background-clip: padding-box; 
	background-color: rgba( 255, 255, 255, 0.8 ); 
	font-family: ArialBlack; font-size: 0.75rem; 
	text-transform: uppercase; 
	color: rgba( 0, 0, 0, 0.5 ); 
	line-height: 1.485; 
	text-align: center; 

}

