.article > * { 
	max-width: var( --text-content-width ); 
	margin-left: auto; margin-right: auto; 

}

.article { 
	max-width: auto; 
	position: relative; 

} 

.article-section { 
	/* max-width: var( --text-content-width );  */ 
	margin-top: 2rem; 

} 

.article-section:target { 
	padding: 2.5rem; 
	border: 1px solid; 

} 

figure.image { 
	background-size: cover; background-position: center center; background-repeat: no-repeat; 
} 

/* .article.therapy-details { 
	--image-count: 2; 
	--image-gutter: 1rem; 
} */

/* .article.about-us { 
	--image-count: 1; 
	--image-gutter: 1rem; 
} */

.text-entry-images { 
	box-sizing: border-box; 
	/* display: flex; flex-direction: row; align-items: center;  */ 
	margin-bottom: 1.75rem; margin-top: 1.2rem; 
	padding: 1.2rem;  
	position: relative; 
	background-color: rgba( 255, 255, 255, 0.4 ); 
} 

.image-entry-list { 
	--column-count: 2; 
	--column-gutter-count: calc( var( --column-count ) - 1 ); 
	--column-gutter-x: 0.2rem; 
	--column-gutter-y: var( --column-gutter-x ); 
	--column-width: calc( ( 100% - var( --column-gutter-x ) * var( --column-gutter-count ) ) / var( --column-count ) ); 

	display: flex; flex-direction: row; flex-wrap: wrap; 

} 

.image-entry { 
	width: var( --column-width ); 
	margin-right: var( --column-gutter-x ); 

} 

.image-entry:nth-child( 2n ) { 
	margin-right: 0; 

}

/* .image-entry-list { 
	--column-count: 2; 
	--column-gutter-x: 0.5rem; 

	display: flex; flex-direction: row; 

} */

.image-entry { 
	/* width: 20rem;  */
	/* height: 250px; */
}

.image-entry img { 
	/* width: auto; 
	height: 250px;   */
	width: 100%; 
}

/* .article.therapy-details figure img, 
.article.about-us figure img { 
	max-width: calc( ( 100% - calc( var( --image-count ) - 1 ) * var( --image-gutter ) ) / var( --image-count ) ); 
	height: auto; 
	margin-right: var( --image-gutter ); 
	opacity: 0.8; 
}  */

.article figure img:last-child { 
	margin-right: 0; 

}

.image img {
	display: none !important; 
} 

.image-list-caption { 
	max-width: 14rem; 
	padding-left: 0.85rem; padding-right: 0.85em; padding-top: 1rem; padding-bottom: 1rem; 
	position: absolute; left: 50%; top: 50%; transform: translate( -50%, -50% ); 
	border-width: 0.5rem; border-style: solid; border-color: rgba( 0, 0, 0, 0.2 );   
	border-radius: 0.8rem; 
	background-clip: padding-box; 
	background-color: rgba( 255, 255, 255, 0.8 ); 
	font-family: ArialBlack; font-size: 0.75rem; 
	text-transform: uppercase; 
	color: rgba( 0, 0, 0, 0.5 ); 
	line-height: 1.485; 
	text-align: center; 

}

