body {
	color: var( --text-color );  
	background-color: #EEE; 
} 

/* footer {
	background-color: #CCC; 
}  */

.heading { 
	color: var( --heading-color ); 
}

/**
 * Buttons 
 */

.bx-controls-direction:before {
	background-color: var( --text-color ); 	
}

.button {
	color: var( --heading-color );
	/* background-color: var( --text-color ); */
	/* border-color: transparent;  */ 
	border-color: var( --heading-color ); 
}

/* On mouse over changes background and text colors */
.button:hover {
	color: var( --text-background-color );
	background-color: var( --heading-color ); 
} 

/* .entry .details-link { 
	color: var( --heading-color ); 
	border-color: var( --heading-color ); 
}

.entry:hover .details-link:hover { 
	color: #EEE; 
	background-color: var( --heading-color );  
}  */

