.sell-points { 
	--animation-start-delay: 0.45s; 
	--slide-text-delay: 0s; 
	--text-relative-delay: -0.15s; 

	--slide-text-duration: 0.2s; 

	--slide-heading-delay: calc( var( --animation-start-delay ) + var( --slide-text-delay ) ); 
	--slide-text-entry-delay: calc( var( --slide-heading-delay ) + var( --slide-text-duration ) + var( --text-relative-delay ) ); 
	--slide-details-link-delay: calc( var( --slide-text-entry-delay ) + var( --slide-text-duration ) + var( --text-relative-delay ) );  

}

/** 
 * On new slide loading the text lines and the button
 * enter into view sequentially upwards
 */

.sell-points-entry .heading, 
.sell-points-entry .text-entry, 
.sell-points-entry .details-link { 
	transform: translateY( 140px ); 
	opacity: 0; 
} 

.sell-points-entry .heading, 
.sell-points-entry .text-entry, 
.sell-points-entry .details-link, 
.sell-points-entry .image { 
	animation-fill-mode: forwards; 

}

.sell-points-entry[ aria-hidden= "false" ] .heading, 
.sell-points-entry[ aria-hidden= "false" ] .text-entry, 
.sell-points-entry[ aria-hidden= "false" ] .details-link { 
	animation-name: fade-in, slide-text-top; animation-duration: 0.125s, 0.25s; 
	animation-timing-function: linear, ease-out; 

} 

.sell-points-entry .heading { 
	animation-delay: var( --slide-heading-delay ); 
} 

.sell-points-entry .text-entry { 
	animation-delay: var( --slide-text-entry-delay ); 
}

.sell-points-entry .details-link { 
	animation-delay: var( --slide-details-link-delay ); 
} 

/* .sell-points .image { 
	width: 120%; 
} 

.sell-points .active.slide-background-left .image { 
	left: 0;  
} 

.sell-points .active.slide-background-right .image { 
	right: 0; 
} */ 

.sell-points-entry .image { 
	height: 120%; 
	top: -20%; transform: translateY( calc( 100 / 120 * 20% ) ); 
	animation-duration: 8s; animation-timing-function: linear; 
	  
}

.sell-points-entry[ aria-hidden= "false" ] .image { 
	animation-name: slide-background; 
} 

/* .sell-points .active.slide-background-right .image { 
	animation-name: slide-background-right; 
} */

/* .sell-points .active .image { 
	animation-delay: 0.2s; animation-duration: 8s; animation-timing-function: linear; 
} */


@keyframes slide-text-top {
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes fade-in {
	
	100% {
		opacity: 1; 
	}
	
}

@keyframes slide-background {
	
	100% {
		transform: translateY( -8% );
	}
	
}

@keyframes slide-background-right {
	
	100% {
		transform: translateX( 8% );
	}
	
} 

@keyframes slide-background {
	
	100% { 
		transform: translateY( 0 ); 
		 
	}
	
}