.send-message { 
	--column-count: 2; 
	--column-gutter-x: 0.75rem; 
	--column-gutter-y: var( --column-gutter-x ); 
	--field-width: calc( ( 100% - ( var( --column-count ) - 1 ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
	--field-height: 3.25rem; 

} 

.send-message, 
.message-holder { 
	padding: 1.25rem; 
}

.send-message { 
	box-sizing: border-box; 
	display: flex; flex-direction: column; align-items: flex-end; flex-wrap: wrap; 
	max-width: var( --max-content-width ); width: 100%; 
	position: relative; 
	background-color: #DDD;  

} 

.send-message .field, 
.send-message .button { 
	color: #DDD; 

}

.send-message .label { 
	display: none; 
} 

/* .send-message > * { 
	margin-right: var( --column-gutter-x ); 
	margin-top: var( --column-gutter-y );
} */

.send-message > * { 
	width: var( --field-width ); 		
} 

/* .send-message .message-holder { 
	width: 100%; 
}  */

.send-message .field-holder, 
.send-message .submit-button { 
	height: 3.25rem; 
	margin-bottom: var( --column-gutter-y ); 

} 

/* .send-message .label { 
	display: block; 
	text-indent: -10000px; 
} */

.send-message .field { 
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%;  
	padding: 0.8rem; 
	border: none; outline: none; 
	font-family: Arial; font-size: 1rem; 
} 

.send-message :nth-child( -n + 2 ) { 
	margin-top: 0; 
}

/* .send-message .field.name, 
.send-message .field.email { 
	height: 2.5rem; line-height: 2.5rem; 

}  */

.send-message .message-holder { 
	box-sizing: border-box; 
	height: 100%; 
	margin-right: 0; 
	padding-right: 0; 
	position: absolute; left: 0; top: 0; 

}

.send-message .submit-button { 
	display: block; 
	/* height: 4rem; line-height: 4rem;  */ 
	/* margin-left: auto; margin-right: auto; 
	margin-top: calc( -2.75rem / 2 );  */
	/* position: absolute;  */
	/* left: 50%; transform: translateX( -50% );   */
	/* right: 0; margin-right: 0.75rem;  */
	/* bottom: calc( -4rem / 2 ); // margin-bottom: 0.75rem;  */
	/* border: 1px solid #DDD;  */
	margin-bottom: 0; 
	background-color: #FFF; 

} 


@media ( max-width: 650px ) { 

	.send-message { 
		align-items: center; 
	
	} 

	.send-message > * { 
		width: 100%; 
	} 

	.send-message .message-holder { 
		height: calc( 3.5 * var( --field-height ) ); 
		padding: 0; 
		position: relative; 
	
	} 
	

}

