.send-message { 
	--column-count: 3; 
	--column-gutter-x: 0.75rem; 
	--column-gutter-y: var( --column-gutter-x ); 
	--field-width: calc( ( 100% - ( var( --column-count ) - 1 ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
	--field-height: 3.25rem; 

} 


.write-us { 
	box-sizing: border-box; 
	/* padding: 3.25rem;  */
	/* background-color: #DDD;  */
} 

.write-us .heading { 
	text-align: center; 
}

/* .send-message { 
	padding: 1.25rem; 
} */

.send-message { 
	display: flex; flex-direction: row; flex-wrap: wrap; 
	max-width: var( --max-content-width ); margin-left: auto; margin-right: auto; 
	position: relative; 
	/* background-color: #DDD;   */

} 

.send-message .field { 
	color: rgba( 0, 0, 0, 0.2 ); 

}

.send-message .label { 
	display: none; 
} 

/* .send-message > * { 
	margin-right: var( --column-gutter-x ); 
	margin-top: var( --column-gutter-y );
} */

/* .send-message > * { 
	width: var( --field-width ); 		
}  */

/* .send-message .message-holder { 
	width: 100%; 
}  */

.send-message .field-holder, 
.send-message .submit-button { 
	width: var( --field-width ); height: 3.25rem; 
	/* margin-bottom: var( --column-gutter-y );  */
} 

.send-message .field-holder { 
	margin-right: var( --column-gutter-x ); 

}

.field-holder.name-holder { 
	order: 2; 
} 

.field-holder.email-holder { 
	order: 3; 
}

/* .send-message .label { 
	display: block; 
	text-indent: -10000px; 
} */

.send-message .field { 
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%;  
	padding: 0.8rem; 
	background-color: transparent; 
	border: 1px solid rgba( 0, 0, 0, 0.2 ); outline: none; 
	font-family: Arial; font-size: 1rem; 
} 

.send-message :nth-child( -n + 2 ) { 
	margin-top: 0; 
}

/* .send-message .field.name, 
.send-message .field.email { 
	height: 2.5rem; line-height: 2.5rem; 

}  */

.send-message .message-holder { 
	order: 1; 
	box-sizing: border-box; 
	width: 100%; height: calc( 3.5 * var( --field-height ) ); 
	margin-right: 0; margin-bottom: var( --column-gutter-y ); 
	padding-right: 0; 
	/* position: absolute; left: 0; top: 0;  */

}

.send-message .submit-button { 
	order: 4; 
	display: block; 
	/* height: 4rem; line-height: 4rem;  */ 
	/* margin-left: auto; margin-right: auto; 
	margin-top: calc( -2.75rem / 2 );  */
	/* position: absolute;  */
	/* left: 50%; transform: translateX( -50% );   */
	/* right: 0; margin-right: 0.75rem;  */
	/* bottom: calc( -4rem / 2 ); // margin-bottom: 0.75rem;  */
	/* border: 1px solid #DDD;  */
	margin-bottom: 0; 
	background-color: rgba( 0, 0, 0, 0.7 ); 

} 


@media ( max-width: 650px ) { 

	.send-message { 
		align-items: center; 
	
	} 

	.send-message > * { 
		width: 100%; 
	} 

	.send-message .message-holder { 
		height: calc( 3.5 * var( --field-height ) ); 
		padding: 0; 
		position: relative; 
	
	} 
	

}

