/**
 * Font declarations 
 */

 /* Impact font declaration */
@font-face {
	font-family: Impact;
	src: url( "/assets/fonts/impact.ttf" ); 
}

/* Arial Black font declaration */
@font-face {
	font-family: ArialBlack;
	src: url( "/assets/fonts/ariblk.ttf" ); 
} 

@font-face {
	font-family: Montserrat; 
	src: url( "/assets/fonts/Montserrat/Montserrat-SemiBold.ttf" ); 
} 

/* Impact font declaration */
@font-face {
	font-family: Ionicons;
	src: url( "/assets/fonts/ionicons.ttf" ); 
} 


/* Sets font size to use as a base for all font sizes */
html, 
body { 
	font-family: var( --text-font-family ); 
	font-size: var( --base-font-size ); 
} 

/* Heading style */
.heading {
	font-family: var( --heading-font-family ); 
	font-size: 1.4rem; 
	line-height: 1.2; 
	text-transform: uppercase; 
} 

/* .head .heading { 
	font-size: 2.4rem;  
}  */

/* .article > .heading { 
	font-size: 1.8rem; 

} */

.entry .heading, 
.article-section .heading { 
	font-size: 1.2rem; 
} 

/* Paragraph style */
.text-entry {
	font-size: 1.2rem; 
	line-height: 1.2; 
} 


/**
 * Control buttons typography styles
 */

/* Pseudo-element, used as a placeholder for the icon */
:before {
	text-indent: 0; 
}

/* Creates the vertical separating line between the two control buttons */
:before { 
	/* width: 3.5rem; height: 3.5rem;  */
	font-family: var( --icon-font-family );  
} 

/* Control button text is moved out of the screen to be replaced with an icon */
.nav-control-buttons button, 
.scroll-to-top {
	text-indent: -10000px; overflow: hidden; 
	cursor: pointer; 
}

/**
 * Sets control button icons 
 */


/**
 * Sets navigation control button icons 
 */

/* Assigns open button icon */
.open-nav-button:before {
	content: var( --open-nav-button-icon ); 
}

/* Assigns close button icon */
.close-nav-button:before {
	content: var( --close-nav-button-icon ); 
} 


.button {
	font-size: 1rem; 
	text-transform: uppercase; 
} 

:before { 
	font-family: Ionicons; 
}


