/**
 * Font declarations 
 */

 /* Impact font declaration */
@font-face {
	font-family: Impact;
	src: url( "/assets/fonts/impact.ttf" ); 
}

/* Arial Black font declaration */
@font-face {
	font-family: ArialBlack;
	src: url( "/assets/fonts/ariblk.ttf" ); 
} 

/* Impact font declaration */
@font-face {
	font-family: Ionicons;
	src: url( "/assets/fonts/ionicons.ttf" ); 
}


/* Sets font size to use as a base for all font sizes */
html, 
body {
	font-family: var( --text-font-family ); 
	font-size: var( --base-font-size ); 
}

/* Heading style */
.heading {
	font-family: var( --heading-font-family ); 
	line-height: 1.2; 
	text-transform: uppercase; 
} 

.head .heading, 
.article > .heading { 
	font-size: 1.8rem;  
} 

.entry .heading, 
.article-section .heading { 
	font-size: 1.5rem; 
} 

/* Paragraph style */
.text-entry {
	font-family: Arial;
	font-size: 1.2rem; 
	line-height: 1.2; 
} 


/**
 * Control buttons typography styles
 */

/* Pseudo-element, used as a placeholder for the icon */
:before {
	text-indent: 0; 
}

/* Creates the vertical separating line between the two control buttons */
.nav-control-buttons :before, 
.bx-controls-direction :before, 
.contact-entry:before,  
.scroll-to-top:before { 
	width: 3.5rem; height: 3.5rem; 
	font-family: var( --icon-font-family ); 
	font-size: 3.2rem; 
}

/* Control button text is moved out of the screen to be replaced with an icon */
.nav-control-buttons button, 
.bx-controls-direction a, 
.scroll-to-top {
	text-indent: -10000px; overflow: hidden; 
	cursor: pointer; 
}

/**
 * Sets control button icons 
 */

/* Assigns prev control button icon */
.bx-controls-direction .bx-prev:before {
	content: var( --prev-button-icon ); 
}

/* Assigns next control button icon */
.bx-controls-direction .bx-next:before {
	content: var( --next-button-icon ); 
}

/**
 * Sets navigation control button icons 
 */

/* Assigns open button icon */
.open-nav-button:before {
	content: var( --open-nav-button-icon ); 
}

/* Assigns close button icon */
.close-nav-button:before {
	content: var( --close-nav-button-icon ); 
} 

.scroll-to-top:before { 
	content: var( --scroll-to-top-button-icon ); 

} 

.contact-entry:before {
	font-size: 2.4rem; 
} 

.contact-entry.address:before {
	content: var( --address-icon ); 
}

.contact-entry.phone:before {
	content: var( --phone-icon ); 
}

.contact-entry.email:before {
	content: var( --email-icon ); 
}


.button {
	font-size: 1rem; 
	text-transform: uppercase; 
}


