<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>	
	<link rel="stylesheet" href="/assets/css/style.css" /> 
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script> 
</head>
<body>

	<script src= "/assets/js/jquery.min.js"></script>
	<script src= "/assets/js/core.js"></script> 

	<script> 
		loadPage(); 
	</script>

	<main>
		{{ content }} 
	</main> 

	<script src= "/assets/js/switch-lang.js"></script> 
	
</body>
</html>