<!DOCTYPE html>
<html lang="bg">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131257323-9"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-131257323-9');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>	
	<link rel="stylesheet" href="/assets/css/style.css" /> 
	<link rel="stylesheet" href="/assets/plugins/lightslider/dist/css/lightslider.min.css" /> 
</head>
<body>

	{% include header.html %}

	<main>
		{{ content }}
	</main>

	{% include footer.html %} 

	<script src= "/assets/js/jquery.min.js"></script> 
	<script src= "/assets/plugins/lightslider/dist/js/lightslider.min.js"></script> 
	<script src= "/assets/plugins/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script> 

	<script src= "/assets/js/sell-points.js"></script> 
	<script src= "/assets/js/main-navigation.js"></script> 
	<script src= "/assets/js/scroll-to-top.js"></script> 
	<script src= "/assets/js/article-images.js"></script> 

	<script src= "/assets/js/form-submission.js"></script> 
	
</body>
</html>