<!DOCTYPE html>
<html lang= "{{ page.lang }}"> 
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131257323-9"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-131257323-9');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>	
	<link rel="stylesheet" href="/assets/css/style.css" /> 
	<!-- <link rel="stylesheet" href="/assets/plugins/lightslider/dist/css/lightslider.min.css" />  --> 
	<!-- <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css" /> --> 
	<link rel="stylesheet" href="/assets/plugins/bxslider/dist/jquery.bxslider.min.css" />  
	<link rel="icon" type="image/png" href="/favicon.png"> 
</head>
<body>  

	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script> 
	<script src= "/assets/js/core.js"></script> 
	<script>
		loadPage(); 
	</script>

	{% include header.html %} 

	<main>
		{{ content }}
	</main>

	{% include footer.html %} 

	<script src= "/assets/js/jquery.min.js"></script> 
	<!-- <script src= "/assets/plugins/lightslider/dist/js/lightslider.min.js"></script>  -->
	<!-- <script src= "/assets/plugins/flexslider/jquery.flexslider-min.js"></script>  --> 
	<script src= "/assets/plugins/bxslider/dist/jquery.bxslider.min.js"></script> 
	<script src= "/assets/plugins/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script> 
	<script src= "/assets/js/form-submission.js"></script> 

	<script src= "/assets/js/sell-points.js"></script> 

	<script src= "/assets/js/main-navigation.js"></script> 

	<script src= "/assets/js/scroll-to-top.js"></script> 
	<script src= "/assets/js/article-images.js"></script> 
	<script src= "/assets/js/switch-lang.js"></script> 

</body>
</html>